In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv('datasets/movie_metadata.csv')  # to read the csv file type of df is DataFrame
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [5]:
df.head(n=5)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [6]:
df.tail(n=5)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [4]:
data = df.values       # convert dataframe into numpy array
print(type(data))

<class 'numpy.ndarray'>

In [5]:
data.shape

(5043, 28)

In [6]:
data[:,1]

array(['James Cameron', 'Gore Verbinski', 'Sam Mendes', ...,
       'Benjamin Roberds', 'Daniel Hsia', 'Jon Gunn'], dtype=object)

In [7]:
df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [8]:
s = df.get('imdb_score')  # s is of type Series
print(type(s))
l = list(s)
print(l[0:10])
np_list = np.array(l)
print(type(np_list))

<class 'pandas.core.series.Series'>
[7.9, 7.1, 6.8, 8.5, 7.1, 6.6, 6.2, 7.8, 7.5, 7.5]
<class 'numpy.ndarray'>

In [9]:
titles = df.get('movie_title')

In [39]:
titles

0                                                 AvatarÂ
1               Pirates of the Caribbean: At World's EndÂ
2                                                SpectreÂ
3                                  The Dark Knight RisesÂ
4       Star Wars: Episode VII - The Force AwakensÂ    ...
5                                            John CarterÂ
6                                           Spider-Man 3Â
7                                                TangledÂ
8                                Avengers: Age of UltronÂ
9                 Harry Potter and the Half-Blood PrinceÂ
10                    Batman v Superman: Dawn of JusticeÂ
11                                      Superman ReturnsÂ
12                                     Quantum of SolaceÂ
13            Pirates of the Caribbean: Dead Man's ChestÂ
14                                       The Lone RangerÂ
15                                          Man of SteelÂ
16              The Chronicles of Narnia: Prince CaspianÂ
17                                          The AvengersÂ
18           Pirates of the Caribbean: On Stranger TidesÂ
19                                        Men in Black 3Â
20             The Hobbit: The Battle of the Five ArmiesÂ
21                                The Amazing Spider-ManÂ
22                                            Robin HoodÂ
23                   The Hobbit: The Desolation of SmaugÂ
24                                    The Golden CompassÂ
25                                             King KongÂ
26                                               TitanicÂ
27                            Captain America: Civil WarÂ
28                                            BattleshipÂ
29                                        Jurassic WorldÂ
                              ...
5013                                              ManitoÂ
5014                                             RampageÂ
5015                                             SlackerÂ
5016                                         Dutch KillsÂ
5017                                           Dry SpellÂ
5018                                            FlywheelÂ
5019                                              ExeterÂ
5020                                          The RidgesÂ
5021                                     The Puffy ChairÂ
5022                                Stories of Our LivesÂ
5023                                    Breaking UpwardsÂ
5024                            All Superheroes Must DieÂ
5025                                      Pink FlamingosÂ
5026                                               CleanÂ
5027                                          The CircleÂ
5028                                         Tin Can ManÂ
5029                                            The CureÂ
5030                                      On the DownlowÂ
5031                        Sanctuary; Quite a ConundrumÂ
5032                                                BangÂ
5033                                              PrimerÂ
5034                                              CaviteÂ
5035                                         El MariachiÂ
5036                                     The Mongol KingÂ
5037                                           NewlywedsÂ
5038                             Signed Sealed DeliveredÂ
5039                           The FollowingÂ
5040                                A Plague So PleasantÂ
5041                                    Shanghai CallingÂ
5042                                   My Date with DrewÂ
Name: movie_title, Length: 5043, dtype: object

In [40]:
titles.shape

(5043,)

In [42]:
freq_titles = {}
for title in titles:
    title_len = len(title)
    try:
        freq_titles[title_len]+=1
    except:
        freq_titles[title_len]=1
print(freq_titles)

{7: 138, 41: 17, 8: 226, 22: 138, 55: 3, 12: 330, 13: 306, 24: 85, 39: 13, 35: 30, 17: 239, 18: 219, 43: 8, 16: 264, 44: 9, 15: 284, 42: 14, 23: 109, 11: 328, 36: 21, 19: 213, 10: 294, 27: 69, 20: 176, 32: 43, 26: 74, 25: 82, 14: 274, 21: 138, 31: 47, 51: 5, 6: 139, 5: 91, 63: 1, 3: 8, 9: 267, 38: 24, 28: 51, 29: 65, 34: 31, 57: 1, 47: 4, 4: 35, 37: 18, 48: 4, 46: 7, 40: 14, 45: 4, 49: 4, 50: 3, 30: 36, 33: 21, 2: 5, 59: 2, 60: 1, 56: 1, 84: 1, 54: 2, 87: 1, 53: 2, 72: 1, 69: 1, 80: 1, 67: 1}

In [43]:
type(freq_titles.keys())

dict_keys

In [44]:
type(list(freq_titles.keys()))

list

In [45]:
a = list(freq_titles.keys())

In [48]:
type(a)

list

In [49]:
np.shape(a)

(64,)

In [51]:
min(a)

2

In [52]:
a = np.array(a)

In [53]:
a.min()

2

In [54]:
a.max()

87

In [10]:
plt.scatter(freq_titles.keys(),freq_titles.values())

NameError: name 'freq_titles' is not defined